<Files config.php >
  Order allow,deny
  Deny from all
</Files>

RewriteEngine On
RewriteRule ^go/(.*)$  dispatch.php?go=$1&%{QUERY_STRING}


#Order deny,allow
#Allow from 2001:8d8:81:1310:1:1:2:42
#Deny from all
