/*
 * -------------------------------------------------------------------------------
 * This file belongs to the Webinterface of schokokeks.org Hosting
 * 
 * Written by schokokeks.org Hosting, namely
 *    Bernd Wurst <bernd@schokokeks.org>
 *    Hanno Böck <hanno@schokokeks.org>
 *
 * This code is published under a 0BSD license.
 *
 * Nevertheless, in case you use a significant part of this code, we ask (but 
 * not require, see the license) that you keep the authors' names in place and 
 * return your changes to the public. We would be especially happy if you tell 
 * us what you're going to do with this code.
 * -------------------------------------------------------------------------------
 */


div.contact-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.contact {
    border: 1px solid black;
    width: 18em;
    margin: 1em;
    padding: 3px 10px;    
}

a.contacts-choose {
    color: initial;
    text-decoration: none;
}

a div.contact {
    min-height: 10em;
}

a div.contact-mainlist {
    min-height: 15em;
}

a div.contact:hover {
    border: 2px solid blue;
    padding: 2px 9px;
}

a.contacts-choose:hover {
    color: initial;
    text-decoration: none;
}

div.contact.mainaddress {
    border: 2px solid red;
    padding: 2px 9px;
}

div.contact.modified::after {
    content: "(noch nicht gespeichert)";
    font-style: italic;
    font-weight: bold;
    color: red;
}
div.contact.modified {
    border: 2px solid red;
    padding: 2px 9px;
}

p.contact-id {
    text-align: right;
    float: right;
    color: #aaa;
    margin: 0;
    padding: 0;
}

p.contact-usage {
    font-style: italic;
}

p.contact-actions {
}

tr#designated-row {
    border: 2px solid red;
}

