div.domain-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.domain-item {
    width: 25em;
    border-left: 5px solid black;
    background-color: #f5f5f5;
    padding: 4px;
    margin: 10px;
}

div.domain-item.regular {
    border-color: #0a0;
    background-color: #dfd;
}

div.domain-item.external {
    border-color: #00a;
    background-color: #ddf;
}

div.domain-item.cancel-scheduled {
    border-color: red;
    background-color: #fdd;
}
div.cancel-scheduled p.regdate {
    color: red;
}

div.domain-item.cancelled, div.domain-item.cancelled a {
    color: #555;
    border-color: #555;
    background-color: #f5f5f5;
}

div.domain-item p.domainname {
    margin: 0;
    padding: 0;
    font-size: 130%;
    font-weight: bold;
    word-wrap: break-word;
}
p.domainname .punycode {
    font-size: 80%;
    word-wrap: break-word;
}



p.domain-unavailable {
    padding: 1em;
    background: #faa;
    border: 2px solid #f00;
    font-weight: bold;
    font-size: 200%;
}
p.domain-available {
    padding: 1em;
    background: #afa;
    border: 2px solid #0f0;
    font-weight: bold;
    font-size: 200%;
}

div#buttons {
    display: none;
}

div.tile,.usage {
    width: 12em;
}

