
input#filter {
    padding-right: 25px;
}
button#clear {
    width: 20px;
    margin-left: -22px;
    margin-right: 1em;
    padding: 0 5px;
    background-color: #fff;
    border: 0;
}

span.buttonset input[type="radio"]:checked + label.nomail {
    background-color: #a00;
    border-color: #800;
}
