.fqdn {
  font-size: 1.5em;
  font-weight: bold;
}
.www-prefix {
  color: #aaa;
}
div.alias {
  font-size: 1.5em;
  font-weight: bold;
}

input#filter {
    padding-right: 25px;
}
button#clear {
    width: 20px;
    margin-left: -22px;
    margin-right: 1em;
    padding: 0 5px;
    background-color: #fff;
    border: 0;
}
